<ion-view view-title="Dashboard">
  <ion-content>
    <ion-slide-box auto-play="true" slide-interval=2000 does-continue="true">
      <!--  <ion-slide ng-repeat="item in banners">
         <div class="box banner"><img ng-src="{{item.src}}" width="100%"/></div>
       </ion-slide> -->
      <side-list ng-repeat="item in banners"></side-list>
    </ion-slide-box>
    <div class="row goods-list">
      <div class="col" ng-repeat="item in goods[0]">
        <a href="#">
          <img src="{{item.src}}" width="33" height="33"><br>
          {{item.title}}
        </a>
      </div>
    </div>
    <div class="row goods-list">
      <div class="col" ng-repeat="item in goods[1]">
        <a href="#">
          <img src="{{item.src}}" width="33" height="33"><br>
          {{item.title}}
        </a>
      </div>
    </div>
    <div class="list">
        <a href="#" class="item item-thumbnail-left item-text-wrap" ng-repeat="item in news">
          <img src="{{item.img}}" width="65" height="65">
          <h3>{{item.title}}</h3>
          <p class="content">{{item.description |  limitTo:27 }}</p>
          <p>{{item.time}}</p>
        </a>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false" ng-if="!hasmore" distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
